.container-auth{
  background: url('/src/assets/img/imagePage4.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Esto establece la altura al 100% del viewport */
}

::selection {
  background-color: gray;
}

.container12 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title12{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-top: 150px;
}

.title12 img{
  width: 120px;
  height: 100px;
}

.title12 h3{
  margin-top: 100px;
  color: white;
  font-family: "Orbitron";
  font-size: 40px;
  height: 100px;
}

.form12 {
  margin-top: -60px;
  padding-top: 20px;
  width: 400px;
  height: 260px;
  background-color: #080808b9;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
}

.form12 a{
  margin-top: 10px;
  color: white;
}

.input12 {
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem;
  width: 20rem;
  background-color: inherit;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
}

.username12{
  border-bottom: 1px solid rgb(0, 0, 0);
  transition: all 400ms;
}

.username12:hover {
  background-color: #cacaca;
  border: none;
  border-radius: 0.5rem;
}

.password12 {
  border-bottom: 1px solid rgb(0, 0, 0);
  transition: all 400ms;
}

.password12:hover {
  background-color: #cacaca;
  border: none;
  border-radius: 0.5rem;
}

.btn12 {
  height: 3rem;
  width: 20rem;
  margin-top: 15px;
  background-image: linear-gradient(to right, rgb(0, 118, 187), #003780); /* Aplica el gradiente como imagen de fondo */
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  color: white;
  transition: all 400ms;
  box-shadow: 0 0 10px  rgb(0, 118, 187), 0 0 10px rgb(0, 118, 187);
}

.btn12:hover {
  background-color: rgb(18, 187, 199);
  box-shadow: none;
}
