.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card h3 {
    color: rgb(56, 55, 100);
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    color: rgb(56, 55, 100);
    font-size: 16px;
    margin-bottom: 15px;
}

.card button {
    background-color: rgb(56, 55, 100);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.card button:hover {
    background-color: rgb(44, 43, 87);
}
