.container-auth1{
  background: url('/src/assets/img/imagePage4.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Esto establece la altura al 100% del viewport */
}

::selection {
  background-color: gray;
}

.container13 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title13{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.title13 img{
  width: 120px;
  height: 100px;
}

.title13 h3{
  margin-top: 100px;
  color: white;
  font-family: "Orbitron";
  font-size: 40px;
  height: 100px;
}

.form13 {
  margin-top: -60px;
  padding-top: 20px;
  width: 400px;
  height: 600px;
  background-color: #080808b9;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
}

.form13 a{
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
}

.input13 {
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem;
  width: 20rem;
  background-color: inherit;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
}

.username13,.nombres13,.apellidos13,.correo13,.password13,.contraseña13,.movil13,.idBinance13,.wallet13{
  border-bottom: 1px solid rgb(116, 114, 114);
  transition: all 400ms;
}

.username13:hover,.nombres13:hover,.apellidos13:hover,.correo13:hover,.password13:hover,.contraseña13:hover,.movil13:hover,.idBinance13:hover,.wallet13:hover {
  background-color: #3d3d3d;
  border: none;
  border-radius: 0.5rem;
}

.password13 {
  border-bottom: 1px solid rgb(116, 114, 114);
  transition: all 400ms;
}

.password13:hover {
  background-color: #3d3d3d;
  border: none;
  border-radius: 0.5rem;
}

.btn13 {
  height: 3rem;
  padding: 15px;
  width: 20rem;
  margin-top: 15px;
  background-image: linear-gradient(to right, rgb(0, 118, 187), #003780); /* Aplica el gradiente como imagen de fondo */
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  color: white;
  transition: all 400ms;
  box-shadow: 0 0 10px  rgb(0, 118, 187), 0 0 10px rgb(0, 118, 187);
}

.btn13:hover {
  background-color: rgb(18, 187, 199);
  box-shadow: none;
}
