/* Estilos iniciales */
.navbar.navbar-light {
  display: flex;
  position: relative;
  width: 100%;
}

body, html {
  margin: 0;
  height: 100%;
}

.container-fluid {
  display: flex;
  margin: 0px 10px 0px 10px;
  width: 100%;
  height: 60px;
}

.container-fluid-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
}

.containerButton {
  display: flex;
  padding-top: 15px;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-decoration: none;
}

.button-navb, .button-navb2 {
  --green: #ffffff;
  
  font-size: 12px;
  letter-spacing: 0.08em;
  position: relative;
  font-family: inherit;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: transparent;
  color: var(--green);
}

.button-navb:hover, .button-navb2:hover {
  transform: translateY(-2px);
  background-color: #202020;
  color:rgb(255, 255, 255);
  transition: 0.2s;
}

.button-navb{
  padding: 10px 15px;
  width: 70%;
}

.profile-menu-container {
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.profile-menu-container .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-menu-container .profile-dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: #000000;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
}

.profile-menu-container .profile-dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-menu-container .profile-dropdown-menu ul li {
  width: 120px;
  height: 50px;
  padding: 5px 20px;
}

.profile-menu-container .profile-dropdown-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  height: 100%;
  color: white;
  font-size: 16px;
}

.profile-menu-container .profile-dropdown-menu ul li a:hover {
  background-color: #202020;
  transition: 0.3s;
}

@keyframes eff {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

:root {
  --primary-color: #007bff;
  --background-color: #ffffff;
  --header-background-color: #f8f9fa;
  --border-color: #dee2e6;
  --box-shadow-color: rgba(0, 0, 0, 0.5);
}

body, html {
  margin: 0;
  height: 100%;
}

.menu1 {
  position: relative;
  display: flex;
  height: 100%;
  transition: transform 0.3s ease;
  background: #000000;
  z-index: 50;
}

.menu1.menu1-light {
  display: flex;
}

.menu1 .title-menu {
  display: flex;
  padding: 10px;
}

.menu1 .title-menu img {
  width: 90%;
}

.menu1 .title-menu button {
  height: 50px;
  width: 50px;
}

.menu1 .button-closed {
  margin: 0px;
  padding: 10px 15px;
  font-weight: 900;
  font-size: 18px;
  background: #000000;
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: aliceblue;
  cursor: pointer;
}

.menu1 .button-closed:hover {
  transform: translateY(-2px);
  background-color: #202020;
  color:rgb(255, 255, 255);
  transition: 0.2s;
}

.menu1 .menu {
  position: relative;
  display: flex;
  align-items: center;
}

.menu1 .menu .btn {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.menu1 .menu .btn img {
  width: 30px;
}

.menu1 .menu .offcanvas-content {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  justify-content: space-between;
}

.menu1 .menu .offcanvas {
  position: fixed;
  top: 0;
  left: -100%;
  width: 350px;
  height: 100%;
  background: black;
  box-shadow: 2px 0 5px var(--box-shadow-color);
  transition: left 0.3s ease;
}

.menu1 .menu .offcanvas.open {
  left: 0;
}

/* walletusd bscalgo */
/* wallet de usdt de la red 20 BEP20 */

.menu1 .menu .offcanvas .offcanvas-header {
  padding: 15px;
  background: black;
  border-bottom: 1px solid white;
}

/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  color: white;
  font-family: "Orbitron";
  flex-direction: column;
  background-color: #202020;
  margin: auto;
  padding: 20px;
  border: 1px solid #ffffff;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close-btn {
  display: flex;
  margin: 0px 0px 25px 96.5%;
  width: 10px;
  height: 5px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.copy-btn,
.save-btn {
  padding: 10px 20px;
  margin-top: 10px;
  --green: rgb(255, 255, 255);
  font-size: 12px;
  letter-spacing: 0.08em;
  position: relative;
  font-family: inherit;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: transparent;
  color: var(--green);
}

.copy-btn:hover,
.save-btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  background-color: #181818;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

.edit-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

input[disabled] {
  color: #252525;
  background-color: #a5a5a5;
  cursor: not-allowed;
}

.input-disabled {
  height: 40px;
  border-radius: 3px;
  border: 2px solid hsl(0, 0%, 100%);
  outline: none;
  transition: 200ms ease-in;
  padding-left: 1rem;
  opacity: 0.6;
}

input {
  height: 40px;
  background-color: #e2e2e2;
  border-radius: 3px;
  border: 2px solid hsl(0, 0%, 0%);
  outline: none;
  transition: 200ms ease-in;
  padding-left: 1rem;
  margin-bottom: 10px;
}

.warning {
  color: red;
  font-size: 15px;
  margin-bottom: 10px;
}

.warning img{
  position: absolute;
  padding-left: 455px;
  width: 30px;
  height: 30px;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .container-fluid{
    justify-content: center;
  }

  .container-fluid-2{
    justify-content: space-between;
  }

  .button-navb2{
    width: 100%;
  }

  .text-reference {
    display: none;
  }
}