/* Estilos iniciales */
.navbar.navbar-light {
  display: flex;
  position: relative;
  width: 100%;
  background-color: rgb(40, 40, 40);
}

body, html {
  margin: 0;
  height: 100%;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
  width: 50%;
  height: 60px;
}

.container-fluid-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 60px;
}

.text-reference {
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: 2px 0 5px #1bdbfd;
  width: 20%;
  height: 100%;
}

.text-reference h5,
.text-reference p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 30%;
}

.text-reference h5 {
  padding-top: 13px;
}

.containerButton {
  display: flex;
  padding-top: 15px;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-decoration: none;
}

.button-navb, .button-navb2 {
  --green: #1bdbfd;
  font-size: 12px;
  letter-spacing: 0.08em;
  position: relative;
  font-family: inherit;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 223, 0.6), 0 0 9px 3px rgba(27, 227, 253, 0.2);
}

.button-navb:hover, .button-navb2:hover {
  transform: translateY(-2px);
  background-color: #1bdbfd;
  color:black;
  transition: 0.2s;
}

.button-navb{
  padding: 10px 15px;
  width: 70%;
}

.profile-menu-container {
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.profile-menu-container .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-menu-container .profile-dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgb(40, 40, 40);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
}

.profile-menu-container .profile-dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-menu-container .profile-dropdown-menu ul li {
  width: 120px;
  height: 50px;
  padding: 5px 20px;
}

.profile-menu-container .profile-dropdown-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 0 5px #1bdbfd;
  text-decoration: none;
  height: 100%;
  color: white;
  font-size: 16px;
}

.profile-menu-container .profile-dropdown-menu ul li a:hover {
  background-color: #646363;
  transition: 0.3s;
}

@keyframes eff {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

:root {
  --primary-color: #007bff;
  --background-color: #ffffff;
  --header-background-color: #f8f9fa;
  --border-color: #dee2e6;
  --box-shadow-color: rgba(0, 0, 0, 0.5);
}

body, html {
  margin: 0;
  height: 100%;
}

.menu1 {
  position: relative;
  display: flex;
  height: 100%;
  transition: transform 0.3s ease;
  background-color: rgb(40, 40, 40);
  z-index: 50;
}

.menu1.menu1-light {
  display: flex;
}

.menu1 .title-menu {
  display: flex;
  padding: 10px;
}

.menu1 .title-menu img {
  width: 90%;
}

.menu1 .title-menu button {
  height: 50px;
  width: 50px;
}

.menu1 .button-closed {
  padding: 10px 15px;
  font-weight: 900;
  font-size: 18px;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  border: 1px solid #1bdbfd;
  color: aliceblue;
  cursor: pointer;
}

.menu1 .button-closed:hover {
  transform: translateY(-2px);
  background-color: #1bdbfd;
  color:black;
  transition: 0.2s;
}

.menu1 .menu {
  position: relative;
  display: flex;
  align-items: center;
}

.menu1 .menu .btn {
  background-color: rgb(40, 40, 40);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.menu1 .menu .btn img {
  width: 30px;
}

.menu1 .menu .offcanvas-content {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  justify-content: space-between;
}

.menu1 .menu .offcanvas {
  position: fixed;
  top: 0;
  left: -100%;
  width: 350px;
  height: 100%;
  background-color: rgb(40, 40, 40);
  box-shadow: 2px 0 5px var(--box-shadow-color);
  transition: left 0.3s ease;
}

.menu1 .menu .offcanvas.open {
  left: 0;
}

.menu1 .menu .offcanvas .offcanvas-header {
  padding: 15px;
  background-color: rgb(40, 40, 40);
  border-bottom: 1px solid;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .container-fluid{
    justify-content: center;
  }

  .container-fluid-2{
    justify-content: space-between;
  }

  .button-navb2{
    width: 100%;
  }

  .text-reference {
    display: none;
  }
}