.boxProfile {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 95%;
  height: 500px;
  position: relative; /* Añadir posición relativa para los elementos hijos puedan posicionarse relativamente */
}

.fotoProfile {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden; /* Para recortar la imagen que se desborda */
}

.fotoProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin deformaciones */
}

.infoBoxProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  color: white;
  font-family: "Roboto";
  background-color: #202020;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}

.primerLineaTextInfo {
  margin-top: 45px;
  display: flex;
  width: 98%;
}

.primerLineaTextInfo h3{
  width: 25%;
}

.segundaLineaTextInfo {
  display: flex;
  width: 98%;
  margin-top: 0px;
}

.segundaLineaTextInfo h3{
  width: 25%;
}

.imgenUserBox {
  position: absolute;
  width: 150px;
  height: 150px;
  margin: 130px 0px 0px 30px;
}

.imgenUserBox img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.infoBoxUserEdit {
  display: flex;
  margin-left: 45px;
  margin-top: 20px;
}

.infoBoxUserEdit button {
  background-color: transparent; /* Aplica el gradiente como imagen de fondo */
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease;
}

.infoBoxUserEdit button:hover {
  background-color: #202020;
}

.infoBoxUserEdit button.active {
  background-image: linear-gradient(to right, rgb(2, 92, 145), #01295e); /* Aplica el gradiente como imagen de fondo */
  border-bottom: 2px solid white;
}

.spaceButton{
  width: 100%;
  height: 70px;
}
