.containerPincipal {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: flex-start;
  height: 758px;
  overflow-y: auto;
}

.uesr-principal {
  display: flex;
  margin-left: 25px;
  margin-top: 50px;
  width: 160px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 119, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: rgb(0, 119, 255);
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.15s linear;
}

.uesr-principal:hover {
  background-color: rgb(0, 119, 255);
  border-color: #1b6aff;
  color: #ffffff;
}

.uesr-principal:active {
  background-color: #0051e7;
  border-color: #ffffff;
  color: #ffffff;
  transform: translateY(5px) scale(0.95);
}

.uesr-principal:disabled {
  background-color: rgba(255, 255, 255, 0.16);
  color: #8E8E93;
  border-color: #8E8E93;
}

.primer-nivel {
  display: flex;
  margin-left: 100px;
  height: 80px;
  border-top: solid 3px black;
  margin-top: 5px;
}

.segundo-nivel, 
.tercer-nivel, 
.cuarto-nivel, 
.quinto-nivel {
  display: flex;
  height: 80px;
  margin-left: 75px;
  border-top: solid 3px black;
  margin-top: 50px;
}

.linea-arriba1 {
  display: flex;
  margin-left: -90px;
  margin-right: -90px;
  height: 2px;
}

.linea-arriba1-final {
  display: flex;
  margin-left: -90px;
  margin-right: -90px;
  height: 2px;
}

.linea-arriba2, 
.linea-arriba3, 
.linea-arriba4, 
.linea-arriba5 {
  display: flex;
  margin-left: -90px;
  height: 80px;
}

.user1 {
  display: flex;
  flex-direction: column;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.user2, 
.user3, 
.user4, 
.user5 {
  display: flex;
  flex-direction: column;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.user-final {
  display: block;
  margin-top: -1.9px;
  margin-left: 76px;
  width: 100%;
  height: 4px;
}

.user-final2, 
.user-final5 {
  display: block;
  margin-top: -2.7px;
  margin-left: 76px;
  width: 100%;
  height: 4px;
  background-color: rgb(228, 225, 225);
}

.user-final3,
.user-final4 {
  display: block;
  margin-top: -3px;
  margin-left: 76px;
  width: 100%;
  height: 4px;
  background-color: rgb(228, 225, 225);
}

.username {
  width: 15px;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.username p {
  text-align: center;
  width: 150px;
  height: 40px;
  background-color: rgb(0, 119, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: rgb(0, 119, 255);
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.15s linear;
}

.username p:hover {
  background-color: rgb(108, 189, 255);
  border-color: #1b6aff;
  color: #1b6aff;
}

.username p:active {
  background-color: #0051e7;
  border-color: #ffffff;
  color: #ffffff;
  transform: translateY(5px) scale(0.95);
}

.username p:disabled {
  background-color: rgba(255, 255, 255, 0.16);
  color: #8E8E93;
  border-color: #8E8E93;
}

.container-lineas-niveles1 {
  display: flex;
  margin: -52px 74px;
  padding: 0px 0px 83px;
  height: 60px;
  width: 2px;
  background-color: black;
  z-index: 1;
}

.container-lineas-niveles2, 
.container-lineas-niveles3, 
.container-lineas-niveles4 {
  display: flex;
  margin: -52px 74px;
  padding: 0px 0px 83px;
  height: 60px;
  width: 2px;
  background-color: black;
  z-index: 1;
}

.container-lineas-niveles1-final, 
.container-lineas-niveles2-final, 
.container-lineas-niveles3-final, 
.container-lineas-niveles4-final,
.container-lineas-niveles5-final {
  display: flex;
  margin: -52px 74px;
  padding: 0px 0px 0px;
  height: 60px;
  width: 2px;
  background-color: black;
  z-index: 1;
}